<!-- 
<footer class="footer mt-auto py-3 bg-colorFooter">
  <div class="container">
    <span class="footerFuente">footer</span>
  </div>
</footer>

-->


<footer class="footer">
    <ul class="bloqueFooter">
        <li> <a href="/"> <img src="assets/img/—Pngtree—flag of united kingdom_6054873.png" alt="logo" width="25" height="25"> Home</a> </li>
        <li> <a href="/contacto"> <img src="assets/img/—Pngtree—vintage hand drawn phone booth_4040750.png" alt="cabina telefono" width="35" height="35">Contacto</a> </li>
        
    </ul> 

    <ul class="bloqueFooter">
      <li> <a href="https://www.instagram.com/institutobac/"> <img src="assets/img/Instagram_icon.png" alt="logo" width="25" height="25"></a> </li>
      <li> <a href="https://www.facebook.com/"> <img src="assets/img/Facebook.png" alt="logo" width="25" height="25"></a> </li>
    </ul>
</footer>