<footer class="container-flex  footer">
  <ul class="bloqueFooter">


    <li> <a href="/"> <img class="imgHome" src="assets/img/—Pngtree—flag of united kingdom_6054873.png" alt="logo"
          width="35" height="35"> Home</a> </li>
    <li> <a href="/contacto"> <img class="imgContacto"
          src="assets/img/—Pngtree—vintage hand drawn phone booth_4040750.png" alt="cabina telefono" width="35"
          height="45">Contacto</a> </li>


  </ul>



  <ul class="bloqueFooter2">



    <li> <a href="https://www.instagram.com/proyecto_web/"> <img src="assets/img/Instagram_icon.png" alt="logo"
          width="25" height="25"></a></li>
    <li> <a href="https://www.facebook.com/Proyecto-109705048467028"> <img src="assets/img/Facebook.png" alt="logo"
          width="25" height="25"></a> </li>
  </ul>
</footer>