<!-- 
<footer class="footer mt-auto py-3 bg-colorFooter">
  <div class="container">
    <span class="footerFuente">footer</span>
  </div>
</footer>

-->


<footer class="footer">
    <ul class="bloqueFooter">
        <li> <a href="/"> <img src="assets/img/—Pngtree—flag of united kingdom_6054873.png" alt="logo" width="25" height="25">Home</a> </li>
        <li> <a href="/">Contacto</a> </li>
    </ul> 
</footer>