<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" /> <!-- configurado desde index js -->
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="icon" href="/assets/img/—Pngtree—flag of united kingdom_6054873-ico.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a85a47234d.js" crossorigin="anonymous"></script>
    <title>{{titulo}}</title>
</head>

<body>

    <header class="container-fluid fondoNavbar" >

        <nav class="navbarHome navbar navbar-expand-lg navbar-light bg-colorNavbar">
            <div class="container-fluid">
                <img src="assets/img/—Pngtree—flag of united kingdom_6054873.png" alt="logo" width="75" height="75">
                <a class="navbarHome navbar-brand" href="/">  Instituto de Inglés Management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="contacto">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="classroom">Classroom</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>


    </header>