{{>header}}

<section class="container-fluid p-5 imagenClassroom">

  <section class="container  col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 bg-colorNavbar  mt-5  p-5">
    <h1><i class="fa-solid fa-landmark"></i> Ingreso al Classroom</h1>
    <form action="/registro" method="post">
      <div class="form-group mb-3">
        <label for="usuario">Usuario</label>
        <input type="text" class="form-control" name="usuario" placeholder="Introduzca su usuario" required>
        <small id="emailHelp" class="form-text text-muted"> </small>
      </div>
      <div class="mb-3">
        <label for="clave">Contraseña</label>
        <input type="password" class="form-control" name="clave" placeholder="contraseña" required>
      </div>

      <button type="submit" class="btn btn-primary mb-3">Ingresar</button>
    </form>

  </section>

</section>


{{>footer}}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

<script src="/assets/js/bootstrap.js"></script>
</body>


</html>