{{>header}}
<section class="imagenClassroom">

  <section class="container mt-0 col-4 bg-light">
    <h1>Classroom</h1>
    <form action="/registro" method="post">
      <div class="form-group mb-3">
        <label for="usuario">Usuario</label>
        <input type="text" class="form-control" name="usuario" 
          placeholder="Introduzca su usuario" required>
        <small id="emailHelp" class="form-text text-muted"> </small>
      </div>
      <div class="mb-3">
        <label for="clave">Contraseña</label>
        <input type="password" class="form-control" name="clave" placeholder="contraseña" required>
      </div>

      <button type="submit" class="btn btn-primary mb-3">Ingresar</button>
    </form>

  </section>

<div class="container">
  <div>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos nostrum itaque quae eveniet. Sunt cum nostrum
  accusantium culpa consequuntur tempora numquam ratione sapiente nobis. Nobis tenetur cum odio quos deleniti!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea facere, sunt voluptatum, ab deleniti asperiores dolores
  ipsum nesciunt numquam exercitationem suscipit magnam atque rerum! Rerum blanditiis repellat nesciunt ad
  reprehenderit.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quos, earum eos reprehenderit sint voluptate ipsam quisquam, minus facilis fugit molestias quidem animi repudiandae atque cupiditate, nam omnis vel. Distinctio?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam a, fugit maxime recusandae architecto quam veritatis, harum quos, dolorum nulla officiis itaque blanditiis veniam voluptatum qui iste quaerat sunt animi?</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos nostrum itaque quae eveniet. Sunt cum nostrum
  accusantium culpa consequuntur tempora numquam ratione sapiente nobis. Nobis tenetur cum odio quos deleniti!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea facere, sunt voluptatum, ab deleniti asperiores dolores
  ipsum nesciunt numquam exercitationem suscipit magnam atque rerum! Rerum blanditiis repellat nesciunt ad
  reprehenderit.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quos, earum eos reprehenderit sint voluptate ipsam quisquam, minus facilis fugit molestias quidem animi repudiandae atque cupiditate, nam omnis vel. Distinctio?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam a, fugit maxime recusandae architecto quam veritatis, harum quos, dolorum nulla officiis itaque blanditiis veniam voluptatum qui iste quaerat sunt animi?</p>
</div>
</div>

</section>


{{>footer}}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

<script src="/assets/js/bootstrap.js"></script>
</body>


</html>