{{>header}}


<div class="imagenHome">

</div>

<section class="primeraSeccion">
    <article>

        <h2>CONTENIDO</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero doloribus maiores sequi nostrum, accusamus
            hic corrupti dolorum quae iste molestias! Ea molestiae distinctio asperiores recusandae reprehenderit
            delectus nihil ratione dolore?</p>



    </article>

</section>

{{>footer}}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>

<script src="/assets/js/bootstrap.js"></script>
</body>

</html>