{{>header}}


<div class="container-flex imagenBanner">

</div>

<div class="container-flex primeraSeccionPortada">
  <h1>NUESTRAS AREAS DE TRABAJO</h1>
</div>

<section class="container-flex primeraSeccion">

  <div class="container">



    <h3>TALLERES Y CAPACITACION EN EMPRESAS</h3>
    <p>Pensamos en cubrir las necesidades de aquellas empresas que buscan que su personal cuente con mayor conocimiento
      del Inglés técnico en diferentes áreas, mediante la oferta de talleres y cursos de capacitación cortos a
      desarrollarse en las instalaciones de la empresa o en nuestras oficinas.</p>

    
    <div class="container pt-2 pb-2 talleres">

        <h4>ALGUNOS DE NUESTROS TALLERES</h4>

      <div class="row align-items-start pt-5">
        <div class="col-md pb-1">
          <i class="fa-solid fa-briefcase small"> Administracion</i>
        </div>
        <div class="col-md pb-1">
          <i class="fa-solid fa-cash-register small"> Contabilidad</i>

        </div>
        <div class="col-md pb-1">
          <i class="fa-solid fa-chart-line small"> Economia </i>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-md pb-1">
          <i class="fa-solid fa-file-invoice small"> Impuestos</i>
        </div>
        <div class="col-md pb-1">
          <i class="fa-solid fa-coins small"> Finanzas</i>
        </div>
        <div class="col-md pb-1">
          <i class="fa-solid fa-scale-balanced small"> Legales</i>
        </div>
      </div>

      <div class="row align-items-end">
        <div class="col-md">
          <i class="fa-solid fa-bullhorn small"> Marketing</i>
        </div>
        <div class="col-md">
          <i class="fa-solid fa-people-group small"> Recursos Humanos y derecho laboral</i>
        </div>
        <div class="col-md">
          <i class="fa-solid fa-handshake small"> Sociedades</i>
        </div>
      </div>
    </div>



    <div class="container pt-5">
      <h4>TIPOS DE CURSOS</h4>
      <P>
        <i class="fa-solid fa-circle"></i> Clases individuales o grupales de inglés tradicional.
      </P>
      <P> <i class="fa-solid fa-circle"></i> Inglés para fines específicos: congresos, viajes, reuniones.</P>
      <p><i class="fa-solid fa-circle"></i> Talleres especiales: A lo largo de nuestras carreras como docentes hemos
        detectado que en ocaciones los
        alumnos requieren de unas pocas clases para fines específicos, generalmente con la necesidad de resultados
        inmediatos. Para eso, diseñamos talleres con diversos objetivos:
      </p>

      <ul class="talleresEspeciales">
        <li> <i class="fa-solid fa-diamond small"></i> LET´S TRAVEL</li>
        <li> <i class="fa-solid fa-diamond small"></i> LET´S WRITE AN ESSAY</li>
        <li> <i class="fa-solid fa-diamond small"></i> LET´S SIMULATE A CONFERENCE CALL</li>
        <li> <i class="fa-solid fa-diamond small"></i> LET´S LEARN SPEAKING STRATEGIES</li>
        <li> <i class="fa-solid fa-diamond small"></i> LET´S MAKE EFFECTIVE PRESENTATIONS</li>
        <li> <i class="fa-solid fa-diamond small"></i> LET´S NEGOTIATE</li>
        <li> <i class="fa-solid fa-diamond small"></i> LET´S WRITE EFFECTIVE EMAILS</li>
      </ul>

    </div>


    <div class="imagenesPrimeraSeccion">
      <h4>EXAMANES INTERNACIONALES</h4>
      <img src="/assets/img/businessman-examining-papers-at-table.jpg" alt="Examen">

      <P>Capacitamos a los alumnos que quieran presentarse a rendir los exámenes internacionales de la Universidad de
        Cambridge (FCE - BEC- CAE - CPE), adaptándonos al alumno con sus obligaciones, ofreciendo flexibilidad para
        que
        pueda lograr su objetivo.</P>
    </div>

    <div class="imagenesPrimeraSeccion">
      <h4>COFFE BREAK</h4>
      <img src="/assets/img/hot-cappucino-with-laptop-on-the-table.jpg" alt="Café">
      <P>¿Por qué no hacer una pausa y juntarnos con otras personas a hablar en inglés una vez por semana?. Todas las
        semanas nos juntamos un grupo que no excede el número de cinco personas una hora para practicar conversación
        con
        un rico café en alguno de los bares de La Ciudad de Buenos Aires. La idea es desarrollar fluidez de manera
        natural, mediante el tratamiento de temas actuales y de interés para los alumnos.</P>
    </div>
    <div class="imagenesPrimeraSeccion">
      <h4>LITERATURE SPOT</h4>
      <img src="assets/img/book-in-library-with-open-textbook.jpg" alt="Libro">
      <P>Para los aficionados de la literatura, existe un espacio de encuentro para efectuar el seguimiento de una
        novela
        a elección del alumno. La idea es realizar un encuentro semanal o quincenal, ya sea en grupo o de manera
        individual, en un bar, a los fines de efectuar un análisis y una discusión en torno al material de lectura.
        Ello
        mediante la utilización de técnicas de análisis y comprensión de texto</P>
    </div>

    <div class="imagenesPrimeraSeccion">
      <h4>TALLERES A MEDIDA</h4>
      <img src="assets/img/pexels-lilartsy-1925536.jpg" alt="Tomando notas">
      <p>
        Todos los talleres se ajustan a las necesidades de la empresa. Nos encontramos en investigación
        y capacitación constante para darle respuesta a sus inquietudes.
      </p>

    </div>

  </div>


  </div>




</section>

{{>footer}}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

<script src="/assets/js/bootstrap.js"></script>


</body>

</html>