{{>header}}





<section class="container-flex  nosotrosPortada">
    <h1>NOSOTROS</h1>
</section>


<section class="nosotros">
   
    

<div class="container nosotros">
    <p>Quienes suscriben encabezan un plantel de profesionales unidos por una misma pasión: el idioma inglés. Nuestra
      empresa fue creada con la finalidad de adaptarse a las necesidades actuales y a los requerimientos puntuales de
      nuestros alumnos, suministrando una amplia gama de servicios integrales.</p>
 
    <img src="/assets/img/pexels-pixabay-301920.jpg" alt="study">
    <p>El grupo de trabajo se encuentra integrado por profesores y traductores de inglés con años de experiencia en la enseñanza del idioma, que a la vez son profesionales de otras áreas como administración de empresas y abogacía. 
        Nuestro principal objetivo es brindar un servicio personalizado y efectivo.
    </p>
    
    </div>
</section>

{{>footer}}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>

<script src="/assets/js/bootstrap.js"></script>

</body>
</html>