body {
    font-weight: 20;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* NAVBAR*/

.navbarHome {
    font-weight: 500;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*clase para cambiar el color del Navbar  rgb(114, 168, 155) */
.bg-colorNavbar {
    background-color: rgb(88, 206, 178);
}

/*clase para cubrir el color de los costados del Navbar*/
.fondoNavbar {
    background-color: rgb(88, 206, 178);
}

.banner {
    background-image: url("./img/pexels-pixabay-258117.jpg");
    background-color: rgb(71, 106, 151);
    background-repeat: no-repeat;
    /*opcion para que la imagen del banner no repita, tiene varias opciones de repeticiones*/
    background-size: cover;
    /*opcion para que la imagen ocupa todo el banner*/
    background-position: center;
    height: 30rem;
}


/* Banner dispositivos extra small*/

@media (min-width: 50px) {
    .imagenBanner {
        background-image: url("/assets/img/pexels-pixabay-Londres ciudad.jpg");
        background-color: rgb(71, 106, 151);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 18rem;
    }
}

/*Banner dispositivos small*/

@media (min-width: 576px) {
    .imagenBanner {
        background-image: url("/assets/img/pexels-pixabay-Londres ciudad.jpg");
        background-color: rgb(71, 106, 151);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 25rem;
    }
}

/*Banner dispositivos large */

@media (min-width: 768px) {
    .imagenBanner {
        background-image: url("/assets/img/pexels-pixabay-Londres ciudad.jpg");
        background-color: rgb(71, 106, 151);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 35rem;
    }
}
.primeraSeccionPortada{
    display: flex;
    justify-content: center;
    padding: 3rem;
    text-align: center;
    background-color: hsl(230, 100%, 97%);
}

.primeraSeccion {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    background-color: aliceblue;
    
}

.primeraSeccion h1 {

    padding: 2rem;
}

.primeraSeccion h2 {
    padding-top: 2rem;


}

.primeraSeccion h3 {
    padding-top: 3rem;
}

.primeraSeccion h4 {
    padding-top: 3rem;
    
    
}

.primeraSeccion p {
    padding: 1.5rem;
    text-align: center;

}

.primeraSeccion li {
    list-style-type: none;
    padding: 0.4rem;
}


.talleresEspeciales {
    display: flex;
    flex-direction: column;
    align-items: center;

    

}

.imagenesPrimeraSeccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imagenesPrimeraSeccion img {
    width: 65%;
    padding-top: 0.9rem;
}


/* FOOTER*/

.footer {
    display: flex;
    background-color: rgb(88, 206, 178);
    justify-content: center;
    align-items: center;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    height: 3.5rem;

}

.bloqueFooter {
    display: flex;
    list-style-type: none;
    /*Saca las viñetas de la lista*/
    align-items: center;

}

.bloqueFooter li {
    display: inline-block;
    padding-top: 1.3rem;


}

.bloqueFooter2 li {
    display: inline-block;
    padding-top: 0.8em;
    padding-right: 0.5rem;

}



.bloqueFooter a {
    color: #000;
    text-decoration: none;
    /*le saca el subrallado del vínculo*/
    padding-right: 1rem;

}

/*alinear img con el texto en el footer*/
.imgHome {
    padding-bottom: 2px;

}

.imgContacto {
    padding-bottom: 7px;
    /*alinear img con el texto footer*/
}


/*CONTACTO*/




@media (min-width: 50px) {
    .imagenContacto {
        display: flex;
        background-image: url("../img/pexels-pixabay-221166.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 45rem;
        background-attachment: fixed;

    }

}

@media (min-width: 1200px) {
    .imagenContacto {
        display: flex;
        background-image: url("../img/pexels-pixabay-221166.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 51rem;
        background-attachment: fixed;
        

    }

}

 /*CLASSROOM */

@media (min-width: 50px) {
    .imagenClassroom {
        background-image: url("/assets/img/pexels-autobus.jpg");
        background-position: center;
        background-size: cover;
        height: 43rem;
        background-attachment: fixed;
    }

}


@media (min-width: 576px) {
    .imagenClassroom {
        background-image: url("/assets/img/pexels-autobus.jpg");
        background-position: center;
        background-size: cover;
        height: 47rem;
        background-attachment: fixed;
    }

}




@media (min-width: 992px) {
    .imagenClassroom {
        background-image: url("/assets/img/pexels-autobus.jpg");
        background-position: center;
        background-size: cover;
        height: 55rem;
        background-attachment: fixed;
    }

}



@media (min-width: 50px) {
    .enviado {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45rem;
        background-image: url(/assets/img/pexels-tetyana-kovyrina-telefono.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 2rem;
    }
}





@media (min-width: 576px) {
    .enviado {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45rem;
        background-image: url(/assets/img/pexels-tetyana-kovyrina-telefono.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 3rem;
    }

}



@media (min-width: 768px) {
    .enviado {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65rem;
        background-image: url(/assets/img/pexels-tetyana-kovyrina-telefono.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 3rem;

    }
}


/*PAGINA ENVIADO MNSAJE CONTACTO*/

.enviadoTexto {

    padding-bottom: 20rem;
}


/*NOSOTROS*/

.nosotrosPortada{
    background-color: rgb(223, 243, 238);
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}  


.nosotros {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.4rem;
    background-color:rgb(236, 242, 245);
    text-align: center;
}


.nosotros p {
    padding-top: 1.5rem;
    padding-bottom: 1.5;
    text-align: center;
}


    

.nosotros img{
    width: 70%;
    
}

